.table {
    --tb-border: var(--radius-4);
    --row-bd: 1px solid var(--gray-a5);
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: calc(var(--tb-border) - 1px);
    border: 1px solid var(--gray-a5);
    background-color: var(--color-panel);
    table-layout: auto;

    thead {
        position: sticky;
        top: 0;
        z-index: 1;

        tr {
            background-color: var(--accent-3);

            th {
                padding: 0.5rem 1rem;
                min-width: 220px;
                border-radius: 4px;

                &:first-child {
                    min-width: 120px;
                }
            }
        }
    }

    tbody {
        tr {
            td {
                padding: 0.3rem;
                border-bottom: var(--row-bd);
                border-left: var(--row-bd);

                &:first-child {
                    border-left: none;
                }

                .card {
                    padding: 0.8rem;
                    border-radius: 6px;
                    background-color: var(--orange-surface);
                    border: 1px solid var(--gray-a5);
                }
            }

            &:last-child td {
                border-bottom: none;
            }
        }
    }
}